<div class="bg-color-general m-30">
  <h1 class="d-flex-center">Semana
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="changeWeek('-')">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>{{selectedWeek}}</span>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="changeWeek('+')">
      <mat-icon>chevron_right</mat-icon>
    </button></h1>
    <section class="d-flex">
      <span>Filtrar</span>
      <mat-checkbox [(ngModel)]="bath_checked" class="mr-30">
        <button mat-fab extended class="schedule-card bath w-fc">
          {{serviceEnum.bath}}
        </button></mat-checkbox>
      <mat-checkbox [(ngModel)]="grooming_checked" class="mr-30">
        <button mat-fab extended class="schedule-card grooming w-fc">
          {{serviceEnum.grooming}}
        </button></mat-checkbox>
      <mat-checkbox [(ngModel)]="vet_checked" class="mr-30">
        <button mat-fab extended class="schedule-card vet w-fc">
          {{serviceEnum.veterinary_doctor}}
        </button></mat-checkbox>
        <div class="spacer">
        </div>
        <mat-form-field (input)="filterByName()">
          <mat-label>Pesquisar humano</mat-label>
          <input matInput [(ngModel)]="search">
        </mat-form-field>
    </section>
  <table class="w-100 m-30">
    <thead>
      <th></th>
      <th>Domingo<p>{{calendar2025[selectedWeek-1].daysOfWeek[0] | date: 'dd/MM/yyyy'}}</p></th>
      <th>Segunda<p>{{calendar2025[selectedWeek-1].daysOfWeek[1] | date: 'dd/MM/yyyy'}}</p></th>
      <th>Terça<p>{{calendar2025[selectedWeek-1].daysOfWeek[2] | date: 'dd/MM/yyyy'}}</p></th>
      <th>Quarta<p>{{calendar2025[selectedWeek-1].daysOfWeek[3] | date: 'dd/MM/yyyy'}}</p></th>
      <th>Quinta<p>{{calendar2025[selectedWeek-1].daysOfWeek[4] | date: 'dd/MM/yyyy'}}</p></th>
      <th>Sexta<p>{{calendar2025[selectedWeek-1].daysOfWeek[5] | date: 'dd/MM/yyyy'}}</p></th>
      <th>Sábado<p>{{calendar2025[selectedWeek-1].daysOfWeek[6] | date: 'dd/MM/yyyy'}}</p></th>
    </thead>
    <tbody>
      <tr *ngFor="let hour of schedulingHours">
        <td>{{hour}}</td>
        <td *ngFor="let day of calendar2025[selectedWeek-1].daysOfWeek" class="col-max-width">
          <div  class="d-flex">
            <div *ngFor="let scheduleCalendar of filteredScheduleCalendar" >
              <div *ngIf="day===scheduleCalendar.date && hour===scheduleCalendar.hour" class="d-flex">
                <div *ngFor="let schedule of scheduleCalendar.schedules"  >
                  <button mat-fab extended *ngIf="schedule.employee.service===serviceEnum.bath && bath_checked || schedule.employee.service===serviceEnum.grooming && grooming_checked || schedule.employee.service===serviceEnum.veterinary_doctor && vet_checked" class="schedule-card" [ngClass]="schedule.employee.service===serviceEnum.bath ? 'bath': schedule.employee.service===serviceEnum.grooming ? 'grooming':'vet'" (click)="editScheduling(schedule)">
                    {{schedule.pet.name}} ({{schedule.customer.name}})
                  </button>
                </div>
                <button *ngIf="scheduleCalendar.schedules.length<3" class="w-45" mat-icon-button (click)="addScheduling(day , hour)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
