.m-30{
  margin: 30px;
}

.w-45{
  width: 45px;
}

.bath, .Banho{
  background-color: #75C9C8;
}

.grooming, .Tosa{
  background-color: #FFEE93;
}

.vet, .Veterinário{
  background-color: #FE5F55;
}

.training, .Adestramento{
  background-color: #A8C686;
}

.d-flex{
  display: flex;
  align-items: center;
}

.space-evenly{
  justify-content: space-evenly;
}

.schedule-card{
  min-width:45px;
  width: fit-content;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  font-size: small;
  color: black;
}

.col-max-width{
  max-width: 90px;
  overflow: hidden;
}

.w-fc{
  width: fit-content;
}

.mr-30{
  margin-right: 30px;
}

.spacer{
  width: 50%;
}
