<div class="bg-color">
  <mat-toolbar class="w-100 d-flex-space bg-color">
    <img src="logo.png" width="55px" />
    <h1>AgendaPet</h1>
    <span class="spacer"></span>
    <div *ngIf="isHomePage" class="user-info">
      <span class="user-name">{{ userName }}</span>
    </div>
    <button *ngIf="isHomePage && hasScope('customers.create')" mat-icon-button aria-label="Adicionar novo cliente"
      class="color-white" (click)="addNewClient()">
      <mat-icon>person_add</mat-icon>
    </button>
    <button *ngIf="isHomePage && hasScope('users.read')" mat-icon-button aria-label="Listar funcionários"
      class="color-white" (click)="listEmployees()">
      <mat-icon>group</mat-icon>
    </button>
    <button *ngIf="isHomePage" mat-icon-button aria-label="Fazer logout" class="color-white" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>