.m-10{
  margin: 10px;
}

.w-74{
  width: 87%;
}

.d-flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-scheduling-dialog{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
